body {
    font-family: Cambria, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #fe8d7d;
    max-width: 800px;
    margin: 0 auto;
    background-color: #015255
}

h1 {
    color: #fe8d7d;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

h3 {
    color: 
}

