body {
    font-family: Cambria, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #F599A4;
    max-width: 800px;
    margin: 0 auto;
    background-color: #096C6C
}

h1 {
    color: #F599A4;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

h3 {
    color: 
}

